html, body {
    height: 100%;
    margin: 0;
    font-family: "Sora", serif;
    line-height: 1.6;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card{
    
    display: flex;
    flex-direction: column;
    width: min-content;
    margin: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 8px 8px 20px 0px rgba(85, 85, 85, 0.08);
}

hr {
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #eee;
}

img {
    border-radius: 10px;
}

.card-content, .card-footer {
    margin: 15px;
}

.card-footer p{
    font-size: 12px;
}

p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    color: #394150;
}

h2 {
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 18px;
    color: #394150;
}

.category {
    background-color: #F2EAFD;
    width: fit-content;
    border-radius: 20px;
    color: #5a11ad;
    margin: 15px 0;
    font-size: 10px;
    font-weight: bold;
    padding: 2px 15px;
}